* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    cursor: crosshair;
}

body {
    background-color: #FFF5EE;
}

.row {
    padding: 1% 5%;
    /* z-index: -2; */
}

.z {
    padding: 1% 0;
    text-align: center;
}

img {
    width: 50%;
    /* z-index: -99; */
}

@media (max-width: 767px) {
    .double-blank {
        position: fixed;
        transform: translateX(100%);
    }
    .right-pic {
        margin: 7% 0 7% 110px;
    }
    .left-pic {
        margin: 7% 0 7% 25px;
    }
    body {
        overflow-x: hidden;
    }
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #FFF5EE;

}

.nav-logo {
    letter-spacing: 5px;
    font-size: 30px;
}

.nav-logo a {
    text-decoration: none;
    color: rgb(58, 31, 9);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin-bottom: 0;
}
.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(58, 31, 9);
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.nav-burger {
    display: none;
    cursor: pointer;

}

.nav-burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(58, 31, 9);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links {
        width: 30%;
        z-index: 99;
    }
}

@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
    nav {
        width: 100%;
        
    }
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #FFF5EE;
        display: block;
        text-align: center;
        width: 70%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    
    .nav-burger {
        display: block;
    }

}
/* .nav-logo {
    width: 15px;
}

.nav-logo .ngoac-logo {
    width: 15px;
} */

.nav-logo {
    letter-spacing: 5px;
    font-size: 30px;
}

.nav-logo a {
    text-decoration: none;
    color: rgb(58, 31, 9);
}
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.row {
    margin: 0 2%;
}

.ngoac-title {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    transform: translate(-50%, -50%);
    transition: opacity .2s cubic-bezier(0,.59,.22,.875) .2s;
}

.ngoac-pic{
    width: 50px;
}

@media screen and (max-width : 991) {
    .ngoac-title {
        width: 40px;
    }

    .ngoac-pic {
        width: 40px;
    }
}

@media screen and (max-width : 767px) {
    .ngoac-title {
        width: 30px;
    }

    .ngoac-pic {
        width: 30px;
    }
}

.thumbnail-title {
    position: fixed;
    top: 50%;
    left: 50%;
    display: block;
    width: auto;
    text-align: center;
    z-index: -1;
    pointer-events: none;
}

.thumbnail-title .text-row {
    opacity: 0;
    transform: translate3d(-50%,calc(100px),0) scaleY(1.2);
    transition: transform .8s cubic-bezier(0,.59,.22,.875),opacity .6s;
}

.text-row {
    position: relative;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

span {
    font-size: 6rem;
    letter-spacing: 2px;
    color: aqua;
}

/* .div-work:hover ~ #interactive-thumbnail-title-3085 .text-row {
    transform: translate3d(-50%,calc(-73px),0) scaleY(1.2);
    opacity: 1;
}
.div-work:hover ~ #interactive-thumbnail-title-3085 {
    z-index: 2;
}
.div-work:hover ~ .ngoac-title {
    opacity: 0;
}

#title-1:hover ~ .ngoac-title {
    opacity: 0;
}

.div-work:hover ~ #interactive-thumbnail-title-1 .text-row {
    transform: translate3d(-50%,calc(-66px),0) scaleY(1.2);
    opacity: 1;
}
.div-work:hover ~ #interactive-thumbnail-title-1 {
    z-index: 2;
} */

#thumbnail-image-Elizabeth:hover ~ #thumbnail-Elizabeth .text-row {
    transform: translate3d(-50%,calc(-66px),0) scaleY(1.2);
    opacity: 1;
}

#thumbnail-image-Elizabeth:hover ~ #thumbnail-Elizabeth {
    z-index: 2;
}


#thumbnail-image-Damn_Vinh_Biet:hover ~ #thumbnail-Damn_Vinh_Biet .text-row {
    transform: translate3d(-50%,calc(-66px),0) scaleY(1.2);
    opacity: 1;
}

#thumbnail-image-Damn_Vinh_Biet:hover ~ #thumbnail-Damn_Vinh_Biet {
    z-index: 2;
}


#thumbnail-image-Ryan:hover ~ #thumbnail-Ryan .text-row {
    transform: translate3d(-50%,calc(-66px),0) scaleY(1.2);
    opacity: 1;
}

#thumbnail-image-Ryan:hover ~ #thumbnail-Ryan {
    z-index: 2;
}


#thumbnail-image-Linda:hover ~ #thumbnail-Linda .text-row {
    transform: translate3d(-50%,calc(-66px),0) scaleY(1.2);
    opacity: 1;
}

#thumbnail-image-Linda:hover ~ #thumbnail-Linda {
    z-index: 2;
}


#thumbnail-image-Jack:hover ~ #thumbnail-Jack .text-row {
    transform: translate3d(-50%,calc(-66px),0) scaleY(1.2);
    opacity: 1;
}

#thumbnail-image-Jack:hover ~ #thumbnail-Jack {
    z-index: 2;
}


#thumbnail-image-Nguyen_Phuong_Hang:hover ~ #thumbnail-Nguyen_Phuong_Hang .text-row {
    transform: translate3d(-50%,calc(-66px),0) scaleY(1.2);
    opacity: 1;
}

#thumbnail-image-Nguyen_Phuong_Hang:hover ~ #thumbnail-Nguyen_Phuong_Hang {
    z-index: 2;
}


#thumbnail-image-Banh:hover ~ #thumbnail-Banh .text-row {
    transform: translate3d(-50%,calc(-66px),0) scaleY(1.2);
    opacity: 1;
}

#thumbnail-image-Banh:hover ~ #thumbnail-Banh {
    z-index: 2;
}


#thumbnail-image-Huan_Rose:hover ~ #thumbnail-Huan_Rose .text-row {
    transform: translate3d(-50%,calc(-66px),0) scaleY(1.2);
    opacity: 1;
}

#thumbnail-image-Huan_Rose:hover ~ #thumbnail-Huan_Rose {
    z-index: 2;
}